@model IEnumerable<AWS_E_Commerce.Models.DTOs.ProductDTO>

@{
    ViewData["Title"] = "Index";
}

<h2>
    <i class="bi bi-list"></i>
    Products
</h2>
<hr />

<p>
    <a class="btn btn-outline-primary" asp-action="Create">
        <i class="bi bi-plus-circle"></i>
        Create New
    </a>
</p>


@foreach (var item in Model)
{
    <div class="card" style="width: 21rem;">

        <img src="@Html.DisplayFor(modelItem => item.ProductImage)" class="card-img-top" alt="Logo" width="50" height="280">

        <div class="card-body">

            <h4 class="card-title">
                Product @item.Name
            </h4>
            <div class="card-text">

                <h6 class="list-group-item">
                    @Html.DisplayNameFor(model => model.Price) : @Html.DisplayFor(modelItem => item.Price)

                </h6>
                <h6 class="list-group-item">
                    @Html.DisplayNameFor(model => model.size) : @Html.DisplayFor(modelItem => item.size)
                </h6>
                <h6 class="list-group-item">
                    @Html.DisplayNameFor(model => model.color) : @Html.DisplayFor(modelItem => item.color)
                </h6>
                <h6 class="list-group-item">
                    @Html.DisplayNameFor(model => model.ProductCategoryName) : @Html.DisplayFor(modelItem => item.ProductCategoryName)
                </h6>
            </div>
            <br>
            <div>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <i class="bi bi-pencil-square"></i>
                    Edit
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">
                    <i class="bi bi-info"></i>
                    Details
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                    <i class="bi bi-x"></i>
                    Delete
                </a>
            </div>
        </div>
    </div>
    <hr />
}
<style>
    #card {
        min-height: 236px;
        background-position: center;
        background-size: 100%;
        transition: all 0.3s ease-in-out;
    }

        #card:hover {
            background-size: 125%;
            transition: all 0.3s ease-in-out;
        }
</style>


