@page
@model AWS_E_Commerce.Pages.Category.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>
    <i class="bi bi-info-circle"></i>
    Details
</h1>

<div>
    <h4>
        @Html.DisplayFor(model => model.Category.Name)
    </h4>
    <hr />


    <div class="row">
        @foreach (var item in Model.Category.products)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0" style="">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @item.Name
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator") || User.IsInRole("Editor"))
                                        {
                                            <a class="text-white float-right" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                            <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                        }
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@item.ProductImage" style="max-width: 130px;" ,"max-height="130px" alt="@item.Name">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text"><b>Price: </b>@item.Price.ToString("c")</p>
                                <p class="card-text"><b>Size: </b>@item.size</p>
                                <p class="card-text"><b>Color: </b>@item.color</p>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Show Details
                                    </a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
                                    {

                                        <a class="btn btn-outline-success " asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
                                            <i class="bi bi-cart-plus"></i> Add to Cart
                                        </a>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    
    <a asp-page="Index" class="btn btn-outline-warning">
        <i class="bi bi-arrow-counterclockwise"></i>
        Back to Categories
    </a>
</div>