@model AWS_E_Commerce.Models.DTOs.ProductCategoryDTO

@{
    ViewData["Title"] = "Details";
}

<h1><i class="bi bi-info-circle"></i>
    Details
</h1>

<div>
    <h4>ProductCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @foreach (var item in Model.products)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Name)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Price)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.size)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.ProductCategoryName)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.color)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.ProductImage)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-x"></i>
        Back to List
    </a>
</div>