@model IEnumerable<AWS_E_Commerce.Models.DTOs.ProductCategoryDTO>

@{
    ViewData["Title"] = "Index";
}

<h2>
    <i class="bi bi-list"></i>
    Categories
</h2>

<hr />
<p>
    <a class="btn btn-outline-primary" asp-action="Create">
        <i class="bi bi-plus-circle"></i>
        Create New
    </a>
</p>

@foreach (var item in Model)
{ 
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    @item.Name Category
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h5>
                    <div class="card-text">
                       <i> Here is a group of @Html.DisplayFor(modelItem => item.Name) Products </i>
                    </div>
                     <br>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">
                            <i class="bi bi-info"></i>
                            Details
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                            <i class="bi bi-x"></i>
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
   <br>
}
